[submodule "ProjectGizmo/Assets/Plugins/submodules/RWM1920-C00220386"]
	path = ProjectGizmo/Assets/Plugins/submodules/RWM1920-C00220386
	url = https://github.com/itcgames/RWM1920-C00220386.git
[submodule "ProjectGizmo/Assets/Plugins/submodules/RWM1920-C00217820"]
	path = ProjectGizmo/Assets/Plugins/submodules/RWM1920-C00217820
	url = https://github.com/itcgames/RWM1920-C00217820.git
[submodule "ProjectGizmo/Assets/Plugins/submodules/RWM1920-C00213826"]
	path = ProjectGizmo/Assets/Plugins/submodules/RWM1920-C00213826
	url = https://github.com/itcgames/RWM1920-C00213826.git
[submodule "ProjectGizmo/Assets/Plugins/submodules/RWM1920-C00215747"]
	path = ProjectGizmo/Assets/Plugins/submodules/RWM1920-C00215747
	url = https://github.com/itcgames/RWM1920-C00215747.git
